/* p{
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 3px black;
}
.red{
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 200px;
}
.green{
    display: inline-block;
    background-color:green;
    width: 200px;
    height: 200px;
}
.blue{
    display: inline-block;
    background-color: blue;
    width: 200px;
    height: 200px;
} */

p{
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 3px black;
}
.red{
    display: block;
    background-color: red;
    width: 200px;
    height: 200px;
}
.green{
    display: block;
    background-color:green;
    width: 200px;
    height: 200px;
}
.blue{
    display: block;
    background-color: blue;
    width: 200px;
    height: 200px;
}